# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
*.iml
.idea/

# Android
android/.gradle/
android/local.properties
android/**/gradle-wrapper.jar
android/key.properties

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Web
web/index.html.bak

# Misc
*.log
.DS_Store
